body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: #f1f1f1;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    max-width: 300px;
    position: relative;

}

h1 {
    color: #0ab6eb;
}

.alarm-form {
    margin-top: 40px;
}

input[type="time"] {
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
}

button {
    background-color: #93251f;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e1152a;
}